div
  table(width="100%")
    tr
      td(align="center")  장바구니 리스트
        div
          table(border="1" width="100%" height="100%")
            tr(align="center")
              td(width="5%")  구분
              td(width="10%")  이미지
              td(width="15%")  카테고리
              td(width="35%")  상품명
              td(width="15%")  가격
              td(width="10%")  수량
              td(width="10%")  비고
            form(name="FormI" method="get")
            tr(align="center")
              td

              td
                img(src="" border="0")
              td

              td

              td

              td
                input(type="text" name="cnt" value="" size="2" maxlength="2")
              td
                a(href="")  수정
                a(href="")  삭제
    tr
      td(align="center")  PageNum, PageCount
    tr
      td(align="right")
        input(type="button" value="Order" onclick="")
