div
  table(border="0" width="100%" height="100%")
    tbody
      tr(align="center")
        td(width="25%")
          p Main Menu
        td(width="15%")
          p S/S
        td(width="15%")
          p F/W
        td(width="15%")
          p Bags
        td(width="15%")
          p Accessories
        td(width="15%")
          p Shoes
