tr
  td(height = "50" align="center")
    a(href="") List
tr
  td(height = "50" align="center")
    a(href="") Category
tr
  td(height = "50" align="center")
    a(href="") Q&A
tr
  td(height = "50" align="center")
    a(href="") About Us
